<footer id="footer" class="mw-footer" role="contentinfo" {{{html-user-language-attributes}}}>
    {{#data-footer}}
    {{!}}{{#data-icons}}{{>FooterList}}{{/data-icons}}
    {{!}}<div id="footer-list">
    {{!}}{{#data-info}}{{>FooterList}}{{/data-info}}
    {{!}}{{#data-places}}{{>FooterList}}{{/data-places}}
        <ul><li><strong>Powered by <a href="https://mediawiki.org/wiki/Skin:Pandora">Pandora</a>.</strong></li></ul>
    {{!}}</div>
    {{/data-footer}}
</footer>
